@{
    ViewData["Title"] = "Home Page";
}

<div class="large-center-container">
    <div style="width:50%; height: 75vh;">

        <a class="nav-link text-dark" style="margin:auto;" asp-area="" asp-controller="Home" asp-action="PressSignUp">
            <div style="margin:auto;">
                <button class="button-image-link round-button"><p class="round-button" style="background-color: red; margin:auto;">Press Sign Up</p></button>
        </div>
    </a>
</div>
    <div style ="width:50%; height: 75vh;">

        <a class="nav-link text-dark" style="margin:auto;" asp-area="" asp-controller="Home" asp-action="CreatorSignUp">
            <div style="margin:auto;">
                <button class="button-image-link round-button"><p class="round-button" style="background-color: red; margin:auto;">Creator Sign Up</p></button>
            </div>
        </a>
    </div>
</div>
