@{
    ViewData["Title"] = "Home Page";
}


<div class="large-center-container">
    <div style="width:50%; height: 75vh;">

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="FAQ">
            <div style="margin:auto;">
                <button class="button-image-link round-button"><p class="round-button" style="background-color: red; margin:auto;">FAQ</p></button>
            </div>
    </a>
</div>
    <div style="width:50%; height: 75vh;">

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">
            <div style="margin:auto;">
                <button class="button-image-link round-button"><p class="round-button" style="background-color: red; margin:auto;">Contact Us</p></button>
            </div>
        </a>
    </div>
</div>

